<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SingleSuite" verbose="2" parallel="classes" thread-count="3">

    <parameter name="username" value="standard_user" />
    <parameter name="password" value="secret_sauce" />

    <test name="Regression">
        <packages>
            <package name="ceo.dog.api"/>
            <package name="com.saucedemo.ui"/>
        </packages>
    </test>
</suite>